<div class="watchlist row">
  <h2>My Watchlist</h2>
  <div *ngFor="let movie of movies" class="movie-card col-md-4" style="top: 20px;">
    <div class="movie-card-inner">
      <div class="movie-card-front">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.image" alt="{{ movie.title }}">
      </div>
      <div class="movie-card-back">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.release_date }}</p>
        <p>{{ movie.overview }}</p>
        <p>{{movie.poster_path}}</p>
        <p>IMDB Rating: {{ movie.vote_average }}</p>
        <button (click)="removeFromWatchlist(movie)">Remove from Watchlist</button>
      </div>
    </div>
  </div>
</div>