<div class="container">
  <div class="movie-cards row">
  <div *ngFor="let movie of movies" class="movie-card col-md-4">
    <div class="movie-card-inner">
      <div class="movie-card-front">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_pathgit " alt="{{ movie.title }}">
      </div>
      <div class="movie-card-back">
        <h3>{{ movie.title }}</h3>
        <p>Movie release date: {{ movie.release_date }}</p>
        <button (click)="viewMovieDetails(movie.id)">View Details</button>
        <button *ngIf="!isInWatchlist(movie.id)" (click)="addToWatchlist(movie)">Add to Watchlist</button>
        <button *ngIf="isInWatchlist(movie.id)" (click)="removeFromWatchlist(movie.id)">Remove from Watchlist</button>
        <p style="margin-top: 10px;">IMDB Rating: {{ movie.vote_average }}</p>
        <p class="">{{ movie.overview }}</p>
      </div>
    </div>
  </div>
</div>
</div>