<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReelReLish</title>
    <link rel="stylesheet" href="navbar.component.scss">
</head>
<body>
    
     <nav class="navbar">
        <div class="navbar-brand">
          <h1 class="logo">REELRELISH</h1>
        </div>
        <div>
          <button routerLink="/watchlist" class="register-btn">My WatchList</button>        
   
     </div>
       <!-- <div class="search box">
         <input type="text" placeholder="Search movies..." [(ngModel)]="searchQuery" (input)="searchMovies()">
       </div> -->
        <div class="nav-actions">
         <button routerLink="/register" class="register-btn">REGISTER</button>        
        <button routerLink="/login" class="login-btn">LOGIN</button>
         
        </div>
      </nav>
      
  
</body>
</html>

