/* navbar.component.scss */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    z-index: 2;
    width: 100vw;

  }
  
  .logo {
    cursor: pointer;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-actions {
    display: flex;
    align-items: center;
  }
  
  .register-btn,
  .login-btn {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #1b7cbd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .search input[type="text"] {
      width: 150px;
    }
  }
  
  /* Update button colors to match the new theme */
  .search button,
  .register-btn,
  .login-btn {
    background-color: #585050; /* Use a shade of grey for buttons */
  }
  
  /* Add more specific styles for buttons on hover */
  .search button:hover,
  .register-btn:hover,
  .login-btn:hover {
    background-color: #777; /* Darker shade of grey on hover */
  }
  .profile{
    // width: 60px;  
    // height: 60px;
    // object-fit: cover; 
    // border-radius: 50%;
    // margin-left: 20px;
    font-size: 30px;
    align-items: center;
  }

  /* navbar.component.scss */
.navbar {
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar.logged-in {
  background-color: rgb(49, 104, 167);
}

.navbar.logged-out {
  background-color: 495057;
  border-radius: 5px;
}

.navbar .navbar-brand .logo {
  cursor: pointer;
}

.navbar .search {
  flex-grow: 1;
  margin: 0 20px;
}

.navbar .search input {
  width: 70%;
  padding: 5px;
  margin-right: 10px;
}

.navbar .search button {
  padding: 5px 10px;
}

.navbar .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.navbar .login-btn {
  margin-left: 10px;
  
  
}
