<div class="navbar">
  <div class="navbar-brand">
    <h1 class="logo" (click)="navigateHome()">REELRELISH</h1>
  </div>
  <div class="search box">
    <input type="text" placeholder="Search movies..." [(ngModel)]="searchQuery">
    <button (click)="searchMovies()">Search</button>
  </div> 
  <span *ngIf="isLoggedIn">
    <button routerLink="/watchlist">My Watchlist</button> 
    Welcome, {{ userEmail }}! <button (click)="logout()">Logout</button>
  </span>
  <span *ngIf="!isLoggedIn">
    <button routerLink="/register" class="login-btn">Register</button>
    <button routerLink="/login" class="login-btn">Login</button>
  </span>
</div>
