.content{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.body{
  //  background-image: url(assets\panda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}