
<div class="root-container">
<div class="container1">
<div class="content">
    <div class="buttons">
        <button type="button" class="btn btn-primary btn-lg">Watchlist</button>
        <button type="button" class="btn btn-primary btn-lg">Review</button>
    </div>
    <div class="Title">
        <h2>Avatar: the way of the water</h2>
        <div class="info">
            <ul>
                <li>Genre</li>
                <li>Date</li>
                <li>runtime</li>
                <li>rating</li>
            </ul>
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Aperiam eaque 
            quos doloremque veritatis impedit distinctio. 
            Ipsum, aspernatur perferendis? Beatae delectus 
            magnam ipsam, laborum perspiciatis molestiae 
            atque consequatur enim deleniti ullam.
        </div>
    </div>
</div>
</div>
</div>

