.root-container{
    width:100%;
    height:100vh;
    background-image: url("/assets/avatar.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}
.content{
    
    display:block;
    width:100%;
    height: 100%;
}
.buttons{
    align-items: center;
    justify-content: center;
    right: 23;
}