
<div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="card" style="width: 27rem;">
        <h3 class="card-head">Login</h3>
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="password">
          </div>
          <br/>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" (click)="login()" [disabled]="!loginForm.valid">Login</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  