
body{
  background-color: black;
}

.card{
color: white;
}

h2{
  color: white;
}

h3{
  color: white;
}

div.stars {

    width: 270px;
  
    display: inline-block;
  
  }
  
 
  
   
  

  
   
  

  

   
  
 

