<div class="search-sort">
    <input type="text" [formControl]="searchControl" placeholder="Search Movies">
    <button (click)="sortMoviesBy('latest')">Latest</button>
    <button (click)="sortMoviesBy('trending')">Trending</button>
    <button (click)="sortMoviesBy('name')">Name</button>
  </div>
  
  <div class="movie-cards">
    <div *ngFor="let movie of movies" class="movie-card">
      <img [src]="movie.Poster" alt="{{ movie.Title }}">
      <h3>{{ movie.Title }}</h3>
      <p>{{ movie.Year }}</p>
    </div>
  </div>
  